.nav-bar {
  background-color: #21222A;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.nav-bar-left {
  display: flex;
  align-items: center;
}

.nav-bar-left > h3 {
  color: #60DAFB;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  padding-left: 8px;
}

.nav-bar-left > img {
  width: 28.93px;
}

.nav-bar > h4 {
  color: #CCD7E3;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

.main {
  background-color: #33373E;
  color: #FFFFFF;
  padding: 24px;
  font-family: 'Inter', sans-serif;
}

.main > h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  letter-spacing: -0.05em;
}

.main-list > li {
  font-weight: 400;
  margin: 16px;
}

.main-list > li::marker {
  color: #60DAFB;
  font-size: 24px;
}
